{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script type="text/javascript" src="{% static 'js/myjs.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Create form</title>
</head>
<body style="background-color: black">
	<form action="{% url 'clients:create' %}" style="margin-top: 25px; margin-left: 10px;" method="POST">
		<a href="{% url 'index' %}" class="btn btn-outline-info" style="margin-bottom: 15px">Home</a>
		<a href="{% url 'logout' %}" class="btn btn-outline-info" style="margin-bottom: 15px">Logout</a><br>
		{% csrf_token %}
		<div class="form-group">
			<table>
			{% for field in form %}		
				<tr class="row">
					<td class="col">{{ field.label_tag }}</td>
					<td class="col"> {{ field }}</td>
					<td>{{ field.errors }}</td>
				</tr>
			{% endfor %}
			</table>
		</div>
		<div class="row">
			<div class="col">
				<a href="{% url 'clients:clientList' %}" class="btn btn-outline-danger">Client List</a>
				<button type="submit" class="btn btn-outline-danger" style="color: #FFE066">Save</button>
			</div>
		</div>
	</form>


	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
</body>
</html>