{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>This is a test</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body style="background-color: #0F0F0F; color: white;">

	<div class="page-header">
		<h1>Client List</h1>
		<a href="{% url 'index' %}" class="btn btn-outline-info" style="margin-bottom: 15px">Home</a>
		<a href="{% url 'logout' %}" class="btn btn-outline-info" style="margin-bottom: 15px">Logout</a>
	</div>
	<div class="search"></div>
	<table class="table">
		<thead style="color: #F25F5C">
			<tr>
				<th scope="col">Client ID</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">City</th>
				<th scope="col">State</th>
			</tr>	
		</thead>
		<tbody>
			{% block content %}
			{% for client in clients.all %}
			<tr>
				<th class="row"><a href="{% url 'clients:detail' client.id %}">{{ client.id }}</a></th>
				<td><a href="{% url 'clients:detail' client.id %}">{{ client.first_name }}</a></td>
				<td><a href="{% url 'clients:detail' client.id %}">{{ client.last_name }}</a></td>
				<td><a href="{% url 'clients:detail' client.id %}">{{ client.city }}</a></td>
				<td><a href="{% url 'clients:detail' client.id %}">{{ client.state }}</a></td>
			</tr>
			{% endfor %}
			{% endblock %}
		</tbody>
	</table>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
</body>
</html>