{% extends 'basic.html' %}

{% block content %}
		
		<form method="POST" action="">
			{% csrf_token %}
			<div class="form-group" style="background: #191924;">
				<table style="margin: 20px 15px">
				{% for field in form %}		
					<tr class="row">
						<td class="col">{{ field.label_tag }}</td>
						<td class="col"> {{ field }}</td>
						<td>{{ field.errors }}</td>
					</tr>
				{% endfor %}
				</table>
				<button class="btn btn-danger" type="submit">Update</button>
				<a href="{% url 'tasks:taskDetail' task.id %}" class="btn btn-danger">Back</a>
			</div>
		</form>
{% endblock %}