{% extends 'basic.html'  %}

{% block content %}

	<div class="page-header">
		<h1>Employee List</h1>
		<button class="btn btn-outline-info" style="margin-bottom: 15px"><a href="{% url 'index' %}">Home</a></button>
		<button class="btn btn-outline-info" style="margin-bottom: 15px"><a href="{% url 'logout' %}">Logout</a></button>
	</div>
	<div class="search"></div>
	<table class="table" style="background-color: #191924;">
		<thead style="color: #F25F5C;">
			<tr>
				<th scope="col">Employee ID</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">City</th>
				<th scope="col">State</th>
			</tr>	
		</thead>
		<tbody>
			{% for employee in employees.all %}
			<tr>
				<th class="row"><a href="{% url 'employees:detail' employee.id %}">{{ employee.id }}</a></th>
				<td><a href="{% url 'employees:detail' employee.id %}">{{ employee.first_name }}</a></td>
				<td><a>{{ employee.last_name }}</a></td>
				<td><a>{{ employee.city }}</a></td>
				<td><a>{{ employee.state }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}