{% extends 'basic.html'  %}

{% block content %}

	<div class="page-header">
		<h1>Employee List</h1>
		<div class="row" style="margin-top: 35px">
		<div class="col">
			<a href="{% url 'index' %}" class="btn btn-outline-info" style="margin-bottom: 15px">Home</a>
			<a href="{% url 'logout' %}" class="btn btn-outline-info" style="margin-bottom: 15px">Logout</a>
		</div>
		<div class="col">
			<form method="GET">
				{% csrf_token %}
				<input type="text" name="first_name" placeholder="First Name">
				<input type="text" name="last_name" placeholder="Last Name">
				<button type="submit" class="btn btn-outline-danger">Search</button>
			</form>
		</div>
	</div>
	</div>
	<table class="table" style="background-color: #330000;">
		<thead style="color: #237BA0;">
			<tr>
				<th scope="col">Employee ID</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">City</th>
				<th scope="col">State</th>
			</tr>	
		</thead>
		<tbody>
			{% for employee in employees.all %}
			<tr>
				<th class="row"><a href="{% url 'employees:detail' employee.id %}">{{ employee.id }}</a></th>
				<td><a href="{% url 'employees:detail' employee.id %}">{{ employee.first_name }}</a></td>
				<td><a href="{% url 'employees:detail' employee.id %}">{{ employee.last_name }}</a></td>
				<td><a href="{% url 'employees:detail' employee.id %}">{{ employee.city }}</a></td>
				<td><a href="{% url 'employees:detail' employee.id %}">{{ employee.state }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}