/* Google Fonts
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;

*/

h1,h2,h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #247BA0;
}

.page-header {
	margin: 100 100;
}
.table td, .table th {
	padding: 1.5rem;
}

.table tr {
	line-height: .2em;
}

.row div.col {
	margin: 15px 0px;
}

.col input {
	font-family: 'Allerta Stencil', sans-serif;
	font-weight: bolder;
	max-width: 300px;
	color: #F25F5C;

}
.col label {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: #FFE066;
}
a, a:hover {
	color: #FFE066;
}